.day-date {
    width: 25%;
    height: 7rem;
    font-size: 3rem;
    box-shadow: inset 10px 0px 17px -5px var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.day-date div {
    color: black;
}

.add-ingredient-form {
        width: 45%;

}

.add-ingredient-form h2 {
    color: black;
}

.ingredient-input {
    width: 15rem;
}

.measures-input {
    width: 5rem;
}

.quantity-input {
    width: 3rem;
}

#food-search-container {
    width: 40%;
    border: 1px solid black;
}

#nutrition-panel {
    display: grid;
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 1fr;
    grid-template-areas: "left right";
    width: 100%;
    margin: 0 10px;
}

.panel-left {
    grid-area: left;
}

.panel-left table {
    border: 1px solid gray;

}

.panel-right {
    grid-area: right;
}