body {
    font-size: 1.5rem;
}

div {
    display: block;
}

.day-date {
    width: 25%;
    height: 7rem;
    font-size: 3rem;
    box-shadow: inset 10px 0px 17px -5px var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
}

.day-date div {
    color: black;
}

#food-search-container {
    width: 80%;
    border: 1px solid black;
    color: black;
}

.table-food-option {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    width: 150%;
}

.table-food-option a {
    text-decoration: none;
    color: #0073AD;

}

.table-food-option a:hover {
    text-decoration: underline;
}

#foods-search-table {
    padding: 3px auto;
    width: 95%;
    margin: 10px auto;
}

.foods-search-table-heading {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 18px;
    width: 50%;
}

.paging-btns {
    text-decoration: none;
    color: #0073AD;
}

.paging-btns:hover {
    text-decoration: underline;
}

.paging-btns-td {
    padding-top: 10px;
}

.foods-search-total {
    font-weight: 700;
    font-size: 1.2rem;
    width: 50%;
}

#nutrition-panel {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "left right";
    width: 95%;
    margin: 10px auto;
}

.nutrition-panel-heading {
    font-size: 1.6rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    line-height: 2em;
    padding-left: 2.5%;
    background-color: #ed5454bf;
}

.panel-left {
    grid-area: left;
}

.nutrition-table {
    border: 2px solid #BCBCBC;
    width: 100%;
    font-family: Arial;
    color: #555555;
}

.nutrition-table table {
    border-collapse: collapse;
    width: 95%;
    margin: 0 auto;
    font-size: 1.2rem;
}

.nutrition-facts {
    font-size: 150%;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1px;
}

.table-separator {
    height: 5px;
    background-color: #888;
}

.amount-per-serving {
    font-weight: 700;
    font-size: 80%;
}

.nutrition-panel-macro {
    font-weight: 700;
}

.table-bottom-border {
    border-bottom: 1px solid #D8ecf7;
    border-collapse: collapse;
}

.table-nutrient-value {
    text-align: right;
}

.panel-right {
    grid-area: right;
    padding-left: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.serving-list-options {
    text-decoration: none;
    font-weight: bold;
    color: #0073ad;
}

.serving-list-options:hover {
    text-decoration: underline;
}

.servings-heading {
    font-weight: 700;
}

.serving-selector {
    margin: 5px;
}

.panel-right ul {
    margin: 0;
    padding-left: 2.5%;
}

a.serving-selected, .selected{
    color: #e45b00;
    text-decoration: none;
    cursor: default;
}

.food-add-container {
    margin-top: 20px;
}

.food-add-container button {
    margin: 0 2px;
}

.quantity-input {
    width: 5rem;
    margin-right: 10px;
}
