{% extends "profiler/layout.html" %}
{% load static %}

{% block nav_date %}
    <a class="menu__item" href="{% url 'today' %}">
        <i class="menu__icon fas fa-bookmark"></i>
        <span class="menu__text">Today</span>
    </a>
    <a class="menu__item" href="{% url 'calendar' %}">
        <i class="menu__icon fas fa-calendar"></i>
        <span class="menu__text">calendar</span>
    </a>
    <a class="menu__item menu__item--active" href="{% url 'account' %}">
        <i class="menu__icon fas fa-user-circle"></i>
        <span class="menu__text">account</span>
    </a>
{% endblock %}

{% block body %}

    <div>
        <ul>
            <li>Protein: <span class="goal-protein">{{ goals.protein }}</span></li>
            <li>Fat: <span class="goal-fat">{{ goals.fat }}</span></li>
            <li>Carbohydrates: <span class="goal-carbs">{{ goals.carbs }}</span></li>
            <li>Calories: <span class="goal-calories">{{ goals.calories }}</span></li>            
        </ul>
    </div>
    <div class="main-container">
        <div class="form-container">
            <div class="form-heading">
                <h2>Change your Goals</h2>
            </div>
            <form class="form" id="change-goal-form">
                <div class="input-container">
                    <label for="calories">Calories:</label>
                    <div class="input-div">
                        <input class="form-input" type="text" name="calories" id="calories" value="{{ goals.calories }}">
                    </div>
                </div>
                <div class="input-container">
                    <label for="protein">Protein:</label>
                    <div class="input-div">
                        <input class="form-input" type="text" name="protein" id="protein" value="{{ goals.protein }}">
                    </div>
                </div>
                <div class="input-container">
                    <label for="fat">Fat:</label>
                    <div class="input-div">
                        <input class="form-input" type="text" name="fat" id="fat" value="{{ goals.fat }}">
                    </div>
                </div>
                <div class="input-container">
                    <label for="carbs">Carbohydrates:</label>
                    <div class="input-div">
                        <input class="form-input" type="text" name="carbs" id="carbs" value="{{ goals.carbs }}">
                    </div>
                </div>
                <div class="btn-container">
                    <input class="btn" type="submit" value="Change">
                </div>
                
            </form>
        </div>

        <div class="form-container">
            <div class="form-heading">
                <h2>Change your Password</h2>
            </div>
            <form class="form" id="change-pass-form">
                <div class="input-container">
                    <label for="current-pass">Current password:</label>
                    <div class="input-div">
                        <input class="form-input" type="password" name="current-pass" id="current-pass">
                    </div>
                </div>
                <div class="input-container">
                    <label for="new-pass">New password:</label>
                    <div class="input-div">
                        <input class="form-input" type="password" name="new-pass" id="new-pass">
                    </div>
                </div>
                <div class="input-container">
                    <label for="new-pass-confirmation">New password confirmation:</label>
                    <div class="input-div">
                        <input class="form-input" type="password" name="new-pass-confirmation" id="new-pass-confirmation">
                    </div>  
                </div>
                <div class="btn-container">
                    <input class="btn" type="submit" value="Change">
                </div>
                
            </form>
        </div>
    </div>
    
{% endblock %}
{% block script %}
<script src="{% static 'profiler/account.js' %}"></script>
{% endblock %}