{% extends "profiler/layout.html" %}
{% load static %}

{% block nav_date %}
    {% if today %}
    <a class="menu__item menu__item--active" href="{% url 'today' %}">
        <i class="menu__icon fas fa-bookmark"></i>
        <span class="menu__text">Today</span>
    </a>
    <a class="menu__item" href="{% url 'calendar' %}">
        <i class="menu__icon fas fa-calendar"></i>
        <span class="menu__text">calendar</span>
    </a>
    <a class="menu__item" href="{% url 'account' %}">
        <i class="menu__icon fas fa-user-circle"></i>
        <span class="menu__text">account</span>
    </a>
    {% else %}
    <a class="menu__item" href="{% url 'today' %}">
        <i class="menu__icon fas fa-bookmark"></i>
        <span class="menu__text">Today</span>
    </a>
    <a class="menu__item menu__item--active" href="javascript: void(0)">
        <i class="menu__icon fas fa-bookmark"></i>
        <span class="menu__text">{{ date | date:"l j / f / Y" }}</span>
    </a>
    <a class="menu__item" href="{% url 'calendar' %}">
        <i class="menu__icon fas fa-calendar"></i>
        <span class="menu__text">calendar</span>
    </a>
    <a class="menu__item" href="{% url 'account' %}">
        <i class="menu__icon fas fa-user-circle"></i>
        <span class="menu__text">account</span>
    </a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="day-date">
        <div>{{ date | date:"l j F, Y" }}</div>
    </div>

    <div class="macros-tb">
        <div class="macros-ti"><i class="macros-dot fas fa-circle"></i>Calories: {{ calendar.calories }}</div>
        <div class="macros-ti"><i class="macros-dot fas fa-circle"></i>Protein: {{ calendar.protein }}</div>
        <div class="macros-ti"><i class="macros-dot fas fa-circle"></i>Fat: {{ calendar.fat }}</div>
        <div class="macros-ti"><i class="macros-dot fas fa-circle"></i>Carbs: {{ calendar.carbs }}</div>
    </div>
    <div style="display: none;" id="date" data-timestamp="{{ date.isoformat }}">{{ date.isoformat }}</div>
    <div class="btn-container">   
        <button class="add-meal-btn" data-meals="breakfast">Add a breakfast</button>
        <button class="add-meal-btn" data-meals="lunch">Add a lunch</button>
        <button class="add-meal-btn" data-meals="dinner">Add a dinner</button>
        <button class="add-meal-btn" data-meals="snack">Add a snack</button>
    </div> 
    

    <div class="add-meal-container" style="display: none;">
        <div id="food-search-container">
            <form id="food-search-form">
                <h2>Food Search:</h2>
                <input type="text" id="food-search-name">
                <input type="button" value="Search" id="food-search">
            </form>
        </div>
        <div class="new-meal-list-container">
        </div>
    </div>

    
    <div id="chartContainer" class="fatsecret-chart"></div>
    <!-- <script src="https://platform.fatsecret.com/js?key=8afd07b7355c41e3813a80e3008c127e&auto_load=true"></script> -->
{% endblock %}
{% block script %}
<script src="{% static 'profiler/day.js' %}"></script>
{% endblock %}