{% extends "profiler/layout.html" %}
{% load static %}

{% block nav_date %}
    {% if today %}
    <a class="menu__item menu__item--active" href="{% url 'today' %}">
        <i class="menu__icon fas fa-bookmark"></i>
        <span class="menu__text">Today</span>
    </a>
    {% else %}
    <a class="menu__item" href="{% url 'today' %}">
        <i class="menu__icon fas fa-bookmark"></i>
        <span class="menu__text">Today</span>
    </a>
    <a class="menu__item menu__item--active" href="javascript: void(0)">
        <i class="menu__icon fas fa-bookmark"></i>
        <span class="menu__text">{{ date | date:"l j / f / Y" }}</span>
    </a>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="day-date">
        <div>{{ date | date:"l j F, Y" }}</div>
    </div>
    <div id="date" data-timestamp="{{ date.isoformat }}">{{ date.isoformat }}</div>
    <button class="add-meal-btn" data-meals="breakfast">Add a breakfast</button>
    <button class="add-meal-btn" data-meals="lunch">Add a lunch</button>
    <button class="add-meal-btn" data-meals="dinner">Add a dinner</button>
    <button class="add-meal-btn" data-meals="snack">Add a snack</button>

    <div class="add-meal-container" style="display: none;">
        <div id="food-search-container">
            <form id="food-search-form">
                <h2>Food Search:</h2>
                <input type="text" id="food-search-name">
                <input type="button" value="Search" id="food-search">
            </form>
        </div>
        <div class="new-meal-list-container">
        </div>
    </div>

    <div>
        <ul>
            <li>Protein: <span id="protein">{{ calendar.protein }}</span></li>
            <li>Fat: {{ calendar.fat }}</li>
            <li>Carbohydrates: {{ calendar.carbs }}</li>
            <li>Calories: {{ calendar.calories }}</li>
            <li>Fiber: {{ calendar.fiber }}</li>
            
        </ul>
    </div>
    
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <!-- <script src="https://platform.fatsecret.com/js?key=8afd07b7355c41e3813a80e3008c127e&auto_load=true"></script> -->
{% endblock %}
{% block script %}
<script src="{% static 'profiler/day.js' %}"></script>
{% endblock %}