{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Profiler</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link href="{% static 'profiler/layout.css' %}" rel="stylesheet">
        <script src="https://kit.fontawesome.com/498d15032c.js" crossorigin="anonymous"></script>
        <link href="{% static 'profiler/calendar_style.css' %}" rel="stylesheet">
        <link href="{% static 'profiler/day.css' %}" rel="stylesheet">
        <link href="{% static 'profiler/account.css' %}" rel="stylesheet">
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <main class="main">
                {% block body %}
                {% endblock %}
            </main>
            <sidebar>
                <div class="logo"></div>
                <div class="avatar">
                <div class="avatar__img">
                    <i class="fas fa-user-circle"></i>
                    <!-- <img src="https://picsum.photos/70" alt="avatar"> -->
                </div>
                <div class="avatar__name">{{ user.username }}</div>
                </div>
                <nav class="menu">
                    {% block nav_date %} {% endblock %}
                    <a class="menu__item" href="{% url 'logout' %}">
                        <i class="menu__icon fas fa-sign-out-alt"></i>
                        <span class="menu__text">log out</span>
                    </a>
                    <a href="https://platform.fatsecret.com">
                        <img src="https://platform.fatsecret.com/api/static/images/powered_by_fatsecret.png" srcset="https://platform.fatsecret.com/api/static/images/powered_by_fatsecret_2x.png 2x, https://platform.fatsecret.com/api/static/images/powered_by_fatsecret_3x.png 3x" border="0"/>
                    </a>
                </nav>
            </sidebar>
        </div>
        {% block script %}
        {% endblock %}
    </body>
</html>