{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{% static 'profiler/apple-favicon.ico' %}"/>
        <link href="{% static 'profiler/login.css' %}" rel="stylesheet">
        <title>Sign In Profiler</title>
    </head>
    <body>
        
        
        
       

    <form class="form" action="{% url 'register' %}" method="post">
        <h2>Sign in</h2>
        {% csrf_token %}
        <label for="username">Username</label>
        <input class="form-input" autofocus type="text" name="username" placeholder="Username">
        <label for="email">Email</label>
        <input class="form-input" type="email" name="email" placeholder="Email Address">
        <label for="password">Password</label>
        <input class="form-input" type="password" name="password" placeholder="Password">
        <label for="confirmation">Confirm password</label>
        <input class="form-input" type="password" name="confirmation" placeholder="Confirm Password">
    
        <input class="btn" type="submit" value="Register">
        <div class="options">
            <span>Already have an account? </span><a href="{% url 'login' %}">Log In here.</a>
        </div>
    </form>

    

    </body>
</html>