<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Set your goals Profiler</title>
    </head>
    <body>
        <h2>Set your Goals</h2>

        <form action="{% url 'set_goal' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="calories">Calories:</label>
                <input autofocus class="form-control" type="text" name="calories" style="width:400px;">
            </div>
            <div class="form-group">
                <label for="protein">Protein:</label>
                <input autofocus class="form-control" type="text" name="protein" style="width:400px;">
            </div>
            <div class="form-group">
                <label for="fat">Fat:</label>
                <input autofocus class="form-control" type="text" name="fat" style="width:400px;">
            </div>
            <div class="form-group">
                <label for="carbs">Carbohydrates:</label>
                <input autofocus class="form-control" type="text" name="carbs" style="width:400px;">
            </div>
            <input class="btn btn-dark" type="submit" value="OK">
        </form>
    </body>
</html>