{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link href="{% static 'profiler/goals.css' %}" rel="stylesheet">
        <title>Set your goals Profiler</title>
    </head>
    <body>

        <div class="goals-container">
            <h2>Set your Goals</h2>
            <div class="description-container">
                <span class="description">Set your macros daily goal</span>
            </div>
            <form class="form" action="{% url 'set_goal' %}" method="post">
                {% csrf_token %}
                <div class="input-container">
                    <label for="calories">Calories:</label>
                    <input autofocus class="form-input" type="text" name="calories">
                </div>
                <div class="input-container">
                    <label for="protein">Protein:</label>
                    <input autofocus class="form-input" type="text" name="protein">
                </div>
                <div class="input-container">
                    <label for="fat">Fat:</label>
                    <input autofocus class="form-input" type="text" name="fat">
                </div>
                <div class="input-container">
                    <label for="carbs">Carbohydrates:</label>
                    <input autofocus class="form-input" type="text" name="carbs">
                </div>
                
            
                <input class="btn" type="submit" value="OK">
            </form>
        </div>
        
    </body>
</html>